h1 New user Registration

= render 'form'
br
= link_to 'Back', users_path, class: 'btn btn-default'
'
= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook), class: 'btn btn-default'
