h1 Users#profile
h3 You are #{current_user.name || current_user.email}
= link_to 'Edit profile', edit_user_path(current_user), class: 'btn btn-default'
= link_to 'Logout', logout_path, method: :post, class: 'btn btn-warning' 
= link_to 'Destroy profile', current_user, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'
